*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.caja_registro{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formulario_diseño{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 600px;
	background-color: #4d4143;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.formulario_diseño form{
	font-size: 20px;
	color: white;
}

.fondo{
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

html body{
	background: url(/static/img/fondologin3.jpg);
}